<div th:fragment="admin_sidebar(currentPage)" class="sidebar d-none d-md-block">
    
    <h3 class="fw-bold mb-5 ps-2 text-warning">
        <i class="fas fa-leaf"></i> Admin Panel
    </h3>
    
    <nav class="nav flex-column">

        <a class="nav-link" 
           th:classappend="${currentPage == 'inventory'} ? 'active' : ''" 
           href="/admin/dashboard">
            <i class="fas fa-box me-2"></i> Inventory
        </a>
        
        <a class="nav-link" 
           th:classappend="${currentPage == 'orders'} ? 'active' : ''" 
           href="/admin/orders">
            <i class="fas fa-truck me-2"></i> Dispatch Orders
        </a>
        
        <a class="nav-link text-muted" href="#">
            <i class="fas fa-chart-line me-2"></i> Analytics (Soon)
        </a>
        
        <a class="nav-link text-muted" href="#">
            <i class="fas fa-users me-2"></i> Customers (Soon)
        </a>

        <div class="mt-5 pt-4 border-top border-secondary">
            <a href="/dashboard"
               class="btn btn-outline-warning w-100 btn-sm mt-3 text-start">
               <i class="fas fa-eye me-2"></i> View As User
            </a>
        </div>
        
        <div class="mt-auto pt-4 border-top border-secondary">
            <a class="nav-link text-danger" href="/logout">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>
    </nav>
</div>

<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        if (confirm("Do you want to logout from Admin Panel?")) {
            window.location.href = "/logout";
        } else {
            history.pushState(null, null, location.href);
        }
    };
</script>